.chocolate-classical-sans-regular {
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lora-taha {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9BCC4;
}
.leftSideContainer{
    width: 35%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftHead{
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatTitle{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bolder;
    user-select: none;
}
.ConvoStarters{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 2.5rem;
}
.ConvoStarters > *{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:active{
        transform: scale(0.9);
    }
    &:first-child:hover{
        color:#12CF13;
    }
    &:last-child:hover{
        color: #0084FF;
    }
}
.searchMessagesArea {
    position: relative;
    height: 4%;
    width: 80%;
}
.searchMessagesArea input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #E2E2E2;
    padding-left: 60px;
    font-size: 1.3rem;
    position: relative;
    border: none;
}
.searchMessagesArea i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    left: 20px;
    font-size: 1.6rem;
}
.convoArea{
    margin-top: 35px;
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newConvo{
    margin: 10px auto;
    cursor: pointer;
    height: 8%;
    border-radius: 50px;
    border: none;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    user-select: none;
    &:hover{
        background-color: #476CFF;
        color: white;
    }
    &:active{
        transform: scale(0.95);
    }
}
.active{
    background-color: #476CFF;
}
.convoPic{
    width: 20%;
    height: 95%;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
}
.client1{
    background-image: url('../public/img/client1.png');
    background-size: cover;
    background-position: center center;
}
.client2{
    background-image: url('../public/img/client2.png');
    background-size: cover;
    background-position: center center;
}
.client3{
    background-image: url('../public/img/client3.png');
    background-size: cover;
    background-position: center center;
}
.client4{
    background-image: url('../public/img/client4.png');
    background-size: cover;
    background-position: center center;
}
.client5{
    background-image: url('../public/img/client5.png');
    background-size: cover;
    background-position: center center;
}
.convoInfo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.active .convoInfo{
    color: white;
}
.convoName{
    font-size: 1.5rem;
    margin-top: 10px;
}
.lastMessage{
    font-size: 1.1rem;
    opacity: 0.65;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.rightSideContainer{
    width: 65%;
    height: 100%;
    background-color: #fff;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
}
.headCard{
    height: 10%;
    border-bottom: 2px solid #dcdde1;
    display: flex;
    align-items: center;
}
.clientInfo{
    width: 40%;
    height: 100%;
    margin-right: auto;
    margin-left: 5%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.userPicture{
    width: 30%;
    background-size: cover;
    background-position: center center;
    transition: transform 2s ease-in-out;
    cursor: pointer;
}
.icons{
    width: 35%;
    height: 100%;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
}
.icons > *{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:first-child:hover{
        color: #0084FF;
        &:active{
            transform: scale(0.9);
        }
    }
    &:nth-child(2):hover{
        color: #12CF13;
        &:active{
            transform: scale(0.9);
        }
    }
    &:last-child:hover{
        color: #FB3C4C;
        &:active{
            transform: scale(0.9);
        }
    }

}
.chatRoom{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-y: scroll;
}
.userArea{
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #dcdde1;
}
.set {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:active{
        transform: scale(0.9);
    }
    &:first-child:hover{
        color: #6a89cc;
    }
    &:nth-child(3):hover{
        color: #079992;
    }
    &:nth-child(4):hover{
        color: #e55039;
    }
    &:nth-child(6){
        color: #1e3799;
    }
}
.typeMessage{
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.typeMessage input{
    width: 95%;
    height: 100%;
    background-color: #E2E2E2;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    font-size: 1.8rem;
}
.userEntry{
    display: flex;
    justify-content:flex-end;
    max-width: 60%;
    font-size: 1.4rem;
    margin-right: 5px;
}
.userMessage{
    background-color: #476CFF;
    color: white;
    border-radius: 20px;
    font-family: "Chocolate Classical Sans", sans-serif;
    text-align: start;
    width: 85%;
    min-height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: end;
}
.userIcon{
    width: 75px;
    height: 75px;
    margin-right: auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}
.userOne{
    background-image: url('../public/img/client1.png');
}
.userTwo{
    background-image: url('../public/img/client2.png');
}
.userThree{
    background-image: url('../public/img/client3.png');
}
.userFour{
    background-image: url('../public/img/client4.png');
}
.userFive{
    background-image: url('../public/img/client5.png');
}
.AIEntry{
    display: flex;
    max-width: 60%;
    font-size: 1.4rem;
    margin-right: auto;
    margin-left: 5px;
}
.AIMessage{
    background-color: #696969;
    color: white;
    width: 85%;
    min-height: 50px;
    border-radius: 20px;
    text-align: start;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: auto;
}
.AIIcon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url('../public/img/ai_default_icon.png');
    background-size: cover;
    background-position: center center;
}

/*
    Pro Tablets Media Query
*/

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .leftSideContainer{
        display: none;
    }
    .rightSideContainer{
        width: 100vw;
        height: 100%;
        background-color: white;
        border-top-right-radius: 100px;
        display: flex;
        flex-direction: column;
    }
    .headCard{
        height: 10%;
        border-bottom: 2px solid #dcdde1;
        display: flex;
        align-items: center;
    }
    .clientInfo{
        width: 25%;
        height: 100%;
        margin-right: auto;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .userPicture{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: transform 2s ease-in-out;
        position: relative;
    }
    .userName{
        font-size: 2.5rem;
        font-weight: bolder;
        width: 50%;
    }
    .icons{
        width: 45%;
        height: 60%;
        margin-left: auto;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 4.5rem;
    }
    .icons > *{
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:first-child:hover{
            color: #0084FF;
            &:active{
                transform: scale(0.9);
            }
        }
        &:nth-child(2):hover{
            color: #12CF13;
            &:active{
                transform: scale(0.9);
            }
        }
        &:last-child:hover{
            color: #FB3C4C;
            &:active{
                transform: scale(0.9);
            }
        }
    
    }
    .chatRoom{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: flex-end;
        overflow-y: scroll;
    }
    .userArea{
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid #dcdde1;
    }
    .set {
        width: 10%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:active{
            transform: scale(0.9);
        }
        &:first-child:hover{
            color: #6a89cc;
        }
        &:nth-child(3):hover{
            color: #079992;
        }
        &:nth-child(4):hover{
            color: #e55039;
        }
        &:nth-child(6){
            color: #1e3799;
        }
    }
    .typeMessage{
        width: 40%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .typeMessage input{
        width: 95%;
        height: 100%;
        background-color: #E2E2E2;
        border: none;
        border-radius: 25px;
        padding-left: 15px;
        font-size: 2.5rem;
    }
    .userEntry{
        display: flex;
        justify-content:flex-end;
        width: 60%;
        font-size: 2.2rem;
        margin-right: 5px;
    }
    .userMessage{
        background-color: #476CFF;
        color: white;
        border-radius: 20px;
        font-family: "Chocolate Classical Sans", sans-serif;
        text-align: start;
        width: 85%;
        min-height: 50px;
        padding: 8px;
        margin-bottom: 10px;
        margin-left: auto;
        text-align: end;
    }
    .userIcon{
        width: 100px;
        height: 100px;
        margin-right: auto;
        border-radius: 50%;
        background-image: url('../public/img/client1.png');
        background-size: cover;
        background-position: center center;
    }
    .AIEntry{
        display: flex;
        width: 60%;
        font-size: 2.2rem;
        margin-right: auto;
        margin-left: 5px;
    }
    .AIMessage{
        background-color: #696969;
        color: white;
        width: 85%;
        min-height: 50px;
        border-radius: 20px;
        text-align: start;
        padding: 8px;
        margin-bottom: 10px;
        margin-right: auto;
    }
    .AIIcon{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url('../public/img/ai_default_icon.png');
        background-size: cover;
        background-position: center center;
    }
}

/* 
    Mini-Tablets Media Query
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .leftSideContainer{
        width: 0%;
        display: none;
    }
    .rightSideContainer{
        width: 100%;
        height: 100%;
        background-color: white;
        border-top-right-radius: 100px;
        display: flex;
        flex-direction: column;
    }
    .headCard{
        height: 10%;
        border-bottom: 2px solid #dcdde1;
        display: flex;
        align-items: center;
    }
    .clientInfo{
        width: 25%;
        height: 100%;
        margin-right: auto;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .userPicture{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: transform 2s ease-in-out;
        position: relative;
    }
    .userName{
        font-size: 1.8rem;
        font-weight: bolder;
        width: 50%;
    }
    .icons{
        width: 45%;
        height: 60%;
        margin-left: auto;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3rem;
    }
    .icons > *{
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:first-child:hover{
            color: #0084FF;
            &:active{
                transform: scale(0.9);
            }
        }
        &:nth-child(2):hover{
            color: #12CF13;
            &:active{
                transform: scale(0.9);
            }
        }
        &:last-child:hover{
            color: #FB3C4C;
            &:active{
                transform: scale(0.9);
            }
        }
    
    }
    .chatRoom{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: flex-end;
        overflow-y: scroll;
    }
    .userArea{
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid #dcdde1;
    }
    .set {
        width: 10%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:active{
            transform: scale(0.9);
        }
        &:first-child:hover{
            color: #6a89cc;
        }
        &:nth-child(3):hover{
            color: #079992;
        }
        &:nth-child(4):hover{
            color: #e55039;
        }
        &:nth-child(6){
            color: #1e3799;
        }
    }
    .typeMessage{
        width: 40%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .typeMessage input{
        width: 95%;
        height: 100%;
        background-color: #E2E2E2;
        border: none;
        border-radius: 25px;
        padding-left: 15px;
        font-size: 1.5rem;
    }
    .userEntry{
        display: flex;
        justify-content:flex-end;
        width: 60%;
        font-size: 1.3rem;
        margin-right: 5px;
    }
    .userMessage{
        background-color: #476CFF;
        color: white;
        border-radius: 20px;
        font-family: "Chocolate Classical Sans", sans-serif;
        text-align: start;
        width: 85%;
        min-height: 50px;
        padding: 8px;
        margin-bottom: 10px;
        margin-left: auto;
        text-align: end;
    }
    .userIcon{
        width: 50px;
        height: 50px;
        margin-right: auto;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
    }
    .AIEntry{
        display: flex;
        width: 60%;
        font-size: 1.3rem;
        margin-right: auto;
        margin-left: 5px;
    }
    .AIMessage{
        background-color: #696969;
        color: white;
        width: 85%;
        min-height: 50px;
        border-radius: 20px;
        text-align: start;
        padding: 8px;
        margin-bottom: 10px;
        margin-right: auto;
    }
    .AIIcon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url('../public/img/ai_default_icon.png');
        background-size: cover;
        background-position: center center;
    }
}


/* 
    Iphone 14 and below media query
*/

@media only screen and (max-width: 767px) {
    .leftSideContainer{
        width: 0%;
        display: none;
    }
    .rightSideContainer{
        width: 100vw;
        height: 100%;
        background-color: white;
        border-top-right-radius: 50px;
        display: flex;
        flex-direction: column;
    }
    .headCard{
        height: 10%;
        border-bottom: 2px solid #dcdde1;
        display: flex;
        align-items: center;
    }
    .clientInfo{
        width: 25%;
        height: 100%;
        margin-right: auto;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .userPicture{
        width: 80%;
        background-size: cover;
        background-position: center center;
        transition: transform 2s ease-in-out;
        position: relative;
    }
    .userName{
        font-size: 1.3rem;
        font-weight: bold;
        width: 40%;
    }
    .icons{
        width: 45%;
        height: 60%;
        margin-left: auto;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.7rem;
    }
    .icons > *{
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:first-child:hover{
            color: #0084FF;
            &:active{
                transform: scale(0.9);
            }
        }
        &:nth-child(2):hover{
            color: #12CF13;
            &:active{
                transform: scale(0.9);
            }
        }
        &:last-child:hover{
            color: #FB3C4C;
            &:active{
                transform: scale(0.9);
            }
        }
    
    }
    .chatRoom{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: flex-end;
        overflow-y: scroll;
    }
    .userArea{
        height: 7%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid #dcdde1;
    }
    .set {
        width: 10%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:active{
            transform: scale(0.9);
        }
        &:first-child:hover{
            color: #6a89cc;
        }
        &:nth-child(3):hover{
            color: #079992;
        }
        &:nth-child(4):hover{
            color: #e55039;
        }
        &:nth-child(6){
            color: #1e3799;
        }
    }
    .typeMessage{
        width: 40%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .typeMessage input{
        width: 95%;
        height: 100%;
        background-color: #E2E2E2;
        border: none;
        border-radius: 25px;
        padding-left: 15px;
        font-size: 0.8rem;
    }
    .userEntry{
        display: flex;
        justify-content:flex-end;
        width: 60%;
        font-size: 0.8rem;
        margin-right: 5px;
    }
    .userMessage{
        background-color: #476CFF;
        color: white;
        border-radius: 20px;
        font-family: "Chocolate Classical Sans", sans-serif;
        text-align: start;
        width: 85%;
        min-height: 50px;
        padding: 8px;
        margin-bottom: 10px;
        margin-left: auto;
        text-align: end;
    }
    .userIcon{
        width: 50px;
        height: 50px;
        margin-right: auto;
        border-radius: 50%;;
        background-size: cover;
        background-position: center center;
    }
    .AIEntry{
        display: flex;
        width: 60%;
        font-size: 0.8rem;
        margin-right: auto;
        margin-left: 5px;
    }
    .AIMessage{
        background-color: #696969;
        color: white;
        width: 85%;
        min-height: 50px;
        border-radius: 20px;
        text-align: start;
        padding: 8px;
        margin-bottom: 10px;
        margin-right: auto;
    }
    .AIIcon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url('../public/img/ai_default_icon.png');
        background-size: cover;
        background-position: center center;
    }
}